.root {
    -fx-background-color: #f4f4f4;
}

.background {
    -fx-background-color: #2196F3;
}

.title {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.text-field, .password-field {
    -fx-pref-width: 250px;
    -fx-font-size: 16px;
}

.login-button {
    -fx-pref-width: 120px;
    -fx-font-size: 16px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.forgot-password-link {
    -fx-font-size: 14px;
    -fx-text-fill: #2196F3;
}